Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

#answer1 
When b() is called multiple times:

The variable a, which has an initial value of 0, is accessed inside the function b().
The value of a is passed as an input to the function c(a).
Inside c(a), the value of a is increased by 2.
The updated value is returned from c(a) and stored in the global variable a.
After calling b() three times:

The value of a becomes 2, then 4, and finally 6.
When we evaluate the expression a, it refers to the global variable a with the value 6.
Therefore, the value displayed when evaluating a will be 6.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [5]:
#answer 2
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")

file_length('midterm.py')
file_length('idterm.py')

File midterm.py not found.
File idterm.py not found.

Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [24]:
#answer 3
class Marsupial:
    def __init__(self):
        self.pouch_contents = []

    def put_in_pouch(self, item):
        self.pouch_contents.append(item)

    def get_pouch_contents(self):
        return self.pouch_contents


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def move(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [25]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.get_pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.get_pouch_contents())
k.move(1, 0)
k.move(1, 0)
k.move(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [32]:
#answer4
def collatz(x):
    print(x)
    while x != 1:
        if x % 2 == 0:
            x = x // 2
        else:
            x = 3 * x + 1
        print(x)

In [33]:
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [ ]:
Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [35]:
def binary(n):
    binary_str = ""
    if n == 0:
        binary_str = "0"
    while n > 0:
        binary_str = str(n % 2) + binary_str
        n = n // 2
    print(binary_str)

In [39]:
binary(0)

0

In [40]:
binary(1)

1

In [41]:
binary(3)

11

In [42]:
binary(9)

1001

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.


City       Country           Season        Temperature(C)        Rainfall(mm)
Mumbai     India             Winter        24.8                   5.9
Mumbai     India             Spring        28.4                   16.2
Mumbai     India             Summer        27.9                   1549.4
Mumbai     India             Fall          27.6                   346.0
London     United Kingdom    Winter        4.2                    207.7
London     United Kingdom    Spring        8.3                    169.6
London     United Kingdom    Summer        15.7                   157.0
London     United Kingdom    Fall          10.4                   218.5
Cairo      Egypt             Winter        13.6                   16.5
Cairo      Egypt             Spring        20.7                   6.5
Cairo      Egypt             Summer        27.7                   0.1
Cairo      Egypt             Fall          22.2                   4.5

In [9]:
import sqlite3

conn = sqlite3.connect('new.db')
cursor = conn.cursor()

cursor.execute("CREATE TABLE data01 (City TEXT, Country TEXT, Season TEXT, Temperature FLOAT, Rainfall FLOAT)")

rows = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

cursor.executemany("INSERT INTO data01 VALUES (?, ?, ?, ?, ?)", rows)


#a) All the temperature data.
cursor.execute('SELECT Temperature FROM data01')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for temp in temperature_data:
    print(temp[0])

#b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM data01')
cities = cursor.fetchall()
print("\nCities without repetition:")
for city in cities:
    print(city[0])

# c) All the records for India.
cursor.execute("SELECT * FROM data01 WHERE Country = 'India'")
india_records = cursor.fetchall()
print("\nRecords for India:")
for record in india_records:
    print(record)

# d) All the Fall records.
cursor.execute("SELECT * FROM data01 WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("\nFall Records:")
for record in fall_records:
    print(record)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute("SELECT City, Country, Season FROM data01 WHERE Rainfall BETWEEN 200 AND 400")
rainfall_between = cursor.fetchall()
print("\nCity, Country, and Season with average rainfall between 200 and 400 millimeters:")
for record in rainfall_between:
    print(record)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute("SELECT City, Country FROM data01 WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
avg_temp_fall_above_20 = cursor.fetchall()
print("\nCity and Country with average Fall temperature above 20 degrees (in increasing order):")
for record in avg_temp_fall_above_20:
    print(record)

# g) The total annual rainfall for Cairo.
cursor.execute("SELECT SUM(Rainfall) FROM data01 WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()
print("\nTotal annual rainfall for Cairo:", total_rainfall_cairo[0])

# h) The total rainfall for each season.
cursor.execute("SELECT Season, SUM(Rainfall) FROM data01 GROUP BY Season")
total_rainfall_season = cursor.fetchall()
print("\nTotal rainfall for each season:")
for record in total_rainfall_season:
    print(record)

conn.close()

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

Cities without repetition:
Mumbai
London
Cairo

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

City, Country, and Season with average rainfall between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

City and Country with average Fall temperature above 20 degrees (in increasing order):
('Cairo', 'Egypt')
('Mumbai', 'India')

Total annual rainfall for Cairo: 27.6

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [29]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words = []
for word in words:
    uppercase_words.append(word.upper())

print(uppercase_words)

lowercase_words = []
for word in words:
    lowercase_words.append(word.lower())

print(lowercase_words)

word_lengths = []
for word in words:
    word_lengths.append(len(word))

print(word_lengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

long_words = []
for word in words:
    if len(word) >= 4:
        long_words.append(word)

print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']